<h1>Github Issues</h1>
<dir class="my-5 border-b-2 border-blue-600"></dir>
  <section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
    <div class="col-span-3 flex flex-col">
      <!-- Buttons to control the state filter -->
      <div class="flex gap-2">
        <button class="btn active">All</button>
        <button class="btn">Open</button>
        <button class="btn">Closed</button>
      </div>
    </div>

    <!-- list -->
    <div class="mt-4 flex flex-col col-span-2">
      <h3>Issues:</h3>
      @for(issue of issuesQuery.data(); track issue.id){
        <issue-item [issue]="issue" />
      }@empty {
        <p>No issues</p>
      }
      <!-- Todo: Issues list -->
      <!-- Todo: Spinner -->
      <!-- Todo: If not issues by filter -->
    </div>

    <!-- Labels -->
    <div class="mt-4">
      <h3>Labels</h3>
      @if(labelsQuery.isLoading()) {
        <p>Loading...</p>
      }@else {
        <issues-labels-selector [labels]="labelsQuery.data() ?? []"/>
      }
      <!-- Todo: Label selector -->
    </div>

  </section>
